<ng-container>

  <!-- Filter -->
  <ng-container *ngIf="isFilterable" [matColumnDef]="this.rowActionIcon">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="filter">
    </mat-form-field>
  </ng-container>

  <!-- Table -->
  <table mat-table [dataSource]="tableDataSource" matSort (matSortChange)="sortTable($event)">

    <!-- action column -->
    <ng-container *ngIf="rowActionIcon?.length" [matColumnDef]="rowActionIcon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" [id]="rowActionIcon" (click)="emitRowAction(element)">
        <button mat-button>
          <mat-icon>{{rowActionIcon}}</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">

      <!-- if sortable column header -->
      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.name"
            [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
          {{tableColumn.name}}
        </th>
      </ng-container>
      <!-- else not sortable -->
      <ng-template #notSortable>
        <th mat-header-cell *matHeaderCellDef [class.text-right]="tableColumn.position == 'right'">
          {{tableColumn.name}}
        </th>
      </ng-template>

      <!-- column data -->
      <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'">
        {{element | dataPropertyGetter: tableColumn.dataKey}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator *ngIf="isPageable"
                 [pageSizeOptions]="paginationSizes"
                 [pageSize]="defaultPageSize"
                 showFirstLastButtons>
  </mat-paginator>
</ng-container>
